{% extends "SPShareBundle::layout.html.twig" %}

{% block title %}
    Accueil - {{ parent() }}
{% endblock %}

{% block spshare_body %}
    <h2>Dernieres annonces ajoutés</h2>
    <ul>
        {% for advert in adverts %}
            <li>
                <a href="{{ path('sp_share_view', {'id': advert.id}) }}">
                    <img src="{{ asset('uploads/image/' ~ advert.image) }}" width="100px" height="100px">
                    {{ advert.title }}
                </a>
            </li>

        {% else %}
            <li>Pas (encore !) d'annonces</li>
        {% endfor %}
    </ul>
    <div class="text-center">{{ knp_pagination_render(adverts) }}</div>
{% endblock %}